
*{
    margin: 0;
    padding: 0;
}

/* Reusable Styles */

body{
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    margin-bottom: 70px;
    width: 1420px;
    margin: 0 auto;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    margin: 40px 130px;
}

h3{
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 16px;
}

h4{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    /* padding-right: 100px; */

}

p{
    font-size: 10px;
    line-height: 1.5;
}

button{
    font-size: 14px;
    padding: 8px 14px;
    border: 1px solid #0D1321;
    background-color: #fff;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    
}

.text-center{
    text-align: center;
}




/* header styles */

.navigation{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 40px 140px 40px 120px;
    

}

.nav-name{
    border: none;
    font-weight: bolder;
    font-size: 24px;
    color: #0D1321;
    text-decoration: none;

}

.header-section{
    background-image: url(assets/Hero-bg.png);
}

.header-container{
    padding: 20px 210px 34px 210px;
}

.header-title{
    margin-bottom: 12px;
    font-size: 28px;
    letter-spacing: 0px;
    font-weight: 800;
    line-height: 1.4;
}

.header-img{
    height: 150px;
    width: 152px;
    margin-bottom: 20px;
    
}

.header-btn{
    margin-top: 24px;
}

.head-btn{
    color: #fff;
    background-color: #0D1321;
    border: none;
}


/* Why Development styles */

.development-section{
    background-color: #edf1f7;
}

.developers-main{
    margin-bottom: 14px;
}

.development-container{
    padding: 10px 90px;
}

.developer-section-1{
    background-image: linear-gradient(to right, #fff, #edf1f7);
    
}
.developer-section-2{
    background-image: linear-gradient(to right, #edf1f7, #fff);
    padding-left: 30px;
}
.developer-section{
    padding: 48px;
}
.development-text{
    padding: 45px 38px 20px 38px;
    margin-bottom: 20px;
    
}


.developer-img{
    width: 160px;
    height: 160px;
}

.developer-btn{
    margin-top: 20px;
}

.developer-btn button{
    border-radius: 0;
    border: 1px solid #8f97a5;
}

.grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 70px;
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* gap: 10px; */
}

/* Inspiration Styles */

.inspiration-section{
    margin-top: 100px;
    margin-bottom: 40px;
}

.inspiration-text{
    padding: 0 100px 30px 100px;
}

.inspiration-video{
    /* margin-top: 30px; */
    height: 420px;
    border: 1px solid #8f97a5;
    border-radius: 12px;
    padding: 20px;
}

iframe{
    border: 1px solid #8f97a5;
    border-radius: 12px;
    border: none;
    width: 100%;
    height: 100%;
}

/* target Styles */

.target-title{
    padding: 0 70px;
}

.target-text a{
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #0D1321;
    border-bottom: 1px solid #8e98ac;
    
}
.target-link{
   margin-top: 8px;
}

.target-icon{
    height: 34px;
    width: 34px;
    margin-bottom: 14px;
}

.target-section-1{
    background-color: #fdf1ed;
}
.target-section-2{
    background-color: #e6ecf3;
}
.target-section-3{
    background-color: #fff9f9;
}

.target-section{
    padding: 30px;
}

.target-container{
    display: flex;
    gap: 18px;
    margin-top: 30px;
}


